body {
  background: url(../img/mmHero.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: right;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

main {
  position: absolute;
  left: 0;
  top: 100px;
  bottom: 60px;
  width: 100%;
  overflow: auto;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

#home {
}
