body {
  background: url(../img/mmHero.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: right;
}

header {
  /*outline: dashed white 2px;*/
  width: 100%;
  height: 100px;
}

main {
  /*outline: dashed purple 4px;*/
  position: relative;
  width: 100%;
  height: 100vh;
}

footer {
  /*outline: dashed white 2px;*/
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height:60px;
}
