body {
  background: url(../img/mmHero.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: right;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgba(250,250,250,0.4);
}

main {
  outline: dashed purple 4px;
  position: relative;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height:60px;
  background-color: rgba(250,250,250,0.4);
}
