/* ------------------------------------
    HEADER
------------------------------------ */
#header-logo {
  /*outline: dashed yellow 2px;*/
  width: 160px;
  height: 80px;
  margin: 10px 0 0 20px;
}


#header-menu {
  /*outline: dashed yellow 2px;*/
  float: right;
  width: 80px;
  height: 80px;
  padding: 10px 20px 0 0;
  font-size: 80px;
  color: rgb(209,148,34);
}

.the-nav {
  display: none;
}

.open-nav {
  display: block;
  background: rgb(209,148,34);
}


#main-nav li {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 6px;
  border-bottom: solid 2px rgb(81,81,83);
}

#main-nav li a {
  color: rgb(81,81,83);
}

/* ------------------------------------
    RESUME AND PORTFOLIO BUTTONS
------------------------------------ */
.button-cont {
  /*outline: dashed yellow 2px;*/
  position: absolute;
  top: 100px;
  left: 20px;
  width: 200px;
}

#resume-button, #portfolio-button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20%;
  background-color: rgba(209,148,34,0.8);
  font-family: 'Russo One', sans-serif;
  font-size: 1em;
  color: rgb(81,81,83);
}

/* ------------------------------------
    NAME CONTAINER
------------------------------------ */
.name-cont {
  /*outline: dashed yellow 2px;*/
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  z-index: -1;
}

.first-name {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 140px);
  font-family: 'Dr Sugiyama', cursive;
  font-size: 60px;
  color: rgb(250,250,250);
}

.last-name {
  position: absolute;
  bottom: 0;
  left: calc(50% - 143px);
  font-family: 'Bungee', cursive;
  font-size: 50px;
  color: rgb(209,148,34);
}

/* ------------------------------------
    SOCIAL MEDIA
------------------------------------ */
.social {
  display: flex;
  justify-content: center;
  margin-left: -4px;
}

.social a {
  padding: 10px 10px;
  font-size: 2em;
  color: white;
}

.social a:hover {
  color: rgb(209,148,34);
}


@media screen and (min-width: 760px) {

  /* ------------------------------------
      HEADER
  ------------------------------------ */
  #header-logo {
    /*outline: dashed yellow 2px;*/
    width: 200px;
    height: 100px;
    margin: 10px 0 0 20px;
  }

  #header-menu {
    display: none;
  }

  .the-nav {
    /*outline: dashed yellow 2px;*/
    display: inline-block;
    position: absolute;
    right: 20px;
    top: calc(50% - 22px);
  }

  #main-nav li {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    padding: 6px;
  }

  #main-nav li a {
    color: rgb(81,81,83);
  }

  .main-nav a {
    color: rgb(81,81,83);
  }
  .main-nav a:hover {
    color: rgb(209,148,34)
  }

  /* ------------------------------------
      RESUME AND PORTFOLIO BUTTONS
  ------------------------------------ */
  .button-cont {
    /*outline: dashed yellow 2px;*/
    position: absolute;
    top: 110px;
    left: 20px;
    width: 300px;
  }

  #resume-button, #portfolio-button {
    width: 300px;
    height: 60px;
    margin-top: 15px;
    border-radius: 20%;
    font-size: 1.6em;
  }

  /* ------------------------------------
      NAME CONTAINER
  ------------------------------------ */

  .first-name {
    bottom: 70px;
    left: calc(50% -  280px);
    font-size: 120px;
  }

  .last-name {
    bottom: 0;
    left: calc(50% - 285.85px);
    font-size: 100px;
  }

  /* ------------------------------------
      SOCIAL MEDIA
  ------------------------------------ */
  .social {
    display: flex;
    justify-content: center;
    margin-left: -4px;
  }

  .social a {
    padding: 10px 10px;
    font-size: 4em;
  }

}

@media screen and (min-width: 1060px) {
  /* ------------------------------------
      HEADER
  ------------------------------------ */
  .the-nav {
    /*outline: dashed yellow 2px;*/
    display: inline-block;
    position: absolute;
    right: calc(50% - 238.15px);
    top: calc(50% - 22px);
  }

}

@media screen and (min-width: 1220px) {
  /* ------------------------------------
      RESUME AND PORTFOLIO BUTTONS
  ------------------------------------ */
  .button-cont {
    bottom: 110px;
    left: 20px;
  }

}
